@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

    * {
        box-sizing: border-box;
        width: auto;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }
/* this is styles for the first page */
    .section1{
        background-image: url('../images/backgrounds/h_img.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-align: center;
        padding-top:17%; 
    }  
    .section1 h1{
    padding: 2px;
    margin: 5px;
    }
    .section1 p{
    padding: 2px;
    }
    #mouse-click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
    }
    #mouse-click {
    animation: bounce 3s infinite;
    }
    
    @keyframes bounce {
    0%, 30%, 50%, 70%, 100% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(-55px);
        }
        70% {
        transform: translateY(-45px);
        }
    }

/* styles for about us  section*/
    .about{
        text-align: center;
        padding-bottom: 30px;
        padding-top:40px;
    }
/* styles for service section */
  .section3{
        text-align: center;
        background-image: url("../images/backgrounds/s_image.jpg");
        color: white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Copse', serif;
        font-size: 18px;
    }
    #servicesoverlay{
        background-color: rgba(0,0,0,0.4);
        padding-top: 10%;
        padding-bottom: 10%;
    }

/* styles for what-we-do */
    .container-what-we-do{
        text-align: center;
        padding-top: 30px;
        height: 400px;
    }
    .hidden1 {
        display: none;
    }
    .hidden2 {
        display: none;
    }
    .hidden3 {
        display: none;
    }

/* portfolio styles */
    #portfolio h2{
        text-align: center;
        padding-top:40px;
    }
    .portfolio{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 25px;
        align-items: center;
        margin-top: 20px;
        margin-left:15%;
        margin-right: 15%; 
        margin-bottom: 40px;
    }
    .card{
        height: 27vh;
        width: 100%;
        background-size: cover;
        border-radius: 0% !important;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #work4{
        background-image: url(../images/portfolio/work1.jpg);
        background-size: cover;
    }
    #work4:hover{
        background: url(../images/portfolio/work1.jpg);
        background-color: black;
        background-size: cover;
        opacity: 0.4;
    }
    
    #work2{
        background-image: url(../images/portfolio/work2.jpg);
        background-size: cover;
    }
    #work2:hover{
        background: url(../images/portfolio/work2.jpg);
        background-color: black;
        background-size: cover;
        opacity: 0.9;
    }
    
    #work3{
        background-image: url(../images/portfolio/work3.jpg);
        background-size: cover;
    }
    #work3:hover{
        background:white;
        opacity: 0.5;
        background: url(../images/portfolio/work3.jpg);
        background-size: cover;
    }

    #work1{
        background-image: url(../images/portfolio/work4.jpg);
        background-size: cover;
    }
    #work1:hover{
        background: url(../images/portfolio/work4.jpg);
        background-color: black;
        background-size: cover;
        opacity: 0.9;
    }

    #work5{
        background-image: url(../images/portfolio/work5.jpg);
        background-size: cover;
    }
    #work5:hover{
        background: url(../images/portfolio/work5.jpg);
        background-color: black;
        background-size: cover;
        opacity: 0.5;
    }
    
    #work6{
        background-image: url(../images/portfolio/work6.jpg);
        background-size: cover;
    }
    #work6:hover{
        background: url(../images/portfolio/work6.jpg);
        background-color: black;
        background-size: cover;
        opacity: 0.5;
    }
        
    #work7{
        background-image: url(../images/portfolio/work7.jpg);
        background-size: cover;
    }
    #work7:hover{
        background: url(../images/portfolio/work7.jpg);
        background-color: black;
        background-size: cover;
        opacity: 0.9;
    }
        
    #work8{
        background-image: url(../images/portfolio/work8.jpg);
        background-size: cover;
    }
    #work8:hover{
        background: url(../images/portfolio/work8.jpg);
        background-color: black;
        background-size: cover;
        opacity: 0.6;
    }
        
    .col-md-3 .solid-border{
        position: absolute;
        height: 80%;
        width: 85%;
        border: 3px solid white;
        color: white;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        display: none;
    }
    .col-md-3 .solid-border h1{
        font-size: 35px;
        text-align: center;
    } 
   
/* contact us styles */  
    #contact-us{
        background-image: url(../images/backgrounds/c_image.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 95%;
        display: flex;
        justify-content: center;
    }
    #contact-us .contact-box h2{
        font-weight: bold;
        text-align: center;  
        color: white;
        margin-top: 60px;
    }
    #contact-us .contact-box input{
        width: 47%;
        margin: 15px;
        background: transparent;
        border: 1px solid white;
        margin-bottom: 25px;
    }
    form{
        margin-top: 15px;
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+*/
        color: white;
        padding-left: 10px;
        font-weight: bold;
        font-size: 14px;
    }
    textarea::placeholder{
        color: white;
        padding-left: 10px;
        font-weight: bold;
        font-size: 14px;
    }
    #message{
        width: 96%;
        margin-left: 40px;
        background: transparent;
        border: 1px solid white;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .btn{
        margin-bottom: 80px;
        margin-left: 80%;
        background-color: cyan;
        border: 1px solid white;
    }
    .btn:hover{
        background-color: white;
    }

/* social icons */
    .social img {
        border-radius: 50%;
        transition: 0.2s ease-out;
    }
    .social img:hover {
        box-shadow: 0 0 25px rgb(0, 0, 0);
        margin: -2px;
        padding: 2px;
        background: aqua;
    }

/* footer styles */
    .footer {
            margin-top: 30px;
    }
